.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    img{
        width: 290px;
        /* width: auto; */
        align-self: center;
        border-radius: 20px;
        background-color: var(--project-card-bg);
        margin-bottom: 40px;
        height: 400px;
    }
    a{
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    h1{
        margin-bottom: 60px;
    }
    /* .labeltext{
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: bold;
    } */

    a:hover{
        transform: scale(1.05);
    }
    .sectionTitle{
        margin-bottom: 10px;
    }
}
.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (width >= 1400px){
    .projectsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        padding: 0 30px;
        text-align: center;
        gap: 0px;
    }
}
